
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/scss/Sevices.css" rel="stylesheet" />
<section class="hero-wrap hero-wrap-2" style="background-image: url('../Content/images/bg_2.jpg');" data-stellar-background-ratio="1.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-0 bread">Services</h1>
            </div>
        </div>
    </div>
</section>
@*<section class="ftco-section">
    <div class="container" >
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center" >
                        <span class="flaticon-wealth"></span>
                    </div></div>
                    
                        <div class="media-body">
                            <h3 class="heading">Accounting Services</h3>
                            <p class="text">
                            <p> We provides services across the entire range of accounting processes such as Procure-to-Pay (Accounts Payable), Order-to-Cash (Accounts Receivable), Record-to-Report (General Accounting), Inventory, Travel and Expense, and Fixed Asset Management. Additionally, our team of analysts also provide a wide range </p>
                            <a href="~/Home/AccountingServices" class="btn btn-success">Read more</a></p>




                        </div>
                    </div>
                </div>
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-accountant"></span>
                        </div>
                        </div>

                        <div class="media-body">
                            <h3 class="heading">Accounts Payable Outsourcing </h3>
                            <p>▪ Entry of invoices and payments</p>
                            <p>▪ 2 way/3 way matching of purchase orders with invoices and goods receipts/packing   slips</p>
                            <p>▪ Allocation of invoices against right job, property or department (for construction and real estate clients)</p>
                            <a href="~/Home/AccountPayableOutsourcing" class="btn btn-success">Read more</a></p>


                        </div>
                    </div>
                </div>
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-teamwork"></span>
                        </div>
                        </div>

                        <div class="media-body">
                            <h3 class="heading">Accounts Receivable Outsourcing</h3>
                            <p>▪ Generation of sales invoices based on timesheet, sales orders, purchase orders and contracts</p>
                            <p>▪ Receipting/Cash application services</p>
                            <p>▪ Reconciling sales booked through POS (Point of Sale) systems/online stores with the accounting system</p>
                            <a href="~/Home/AccountReceivableOutsourcing" class="btn btn-success">Read more</a></p>
                        </div>

                    </div>
                </div>
            <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block">
                    <div class="services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-accounting-1"></span>
                        </div>
                        </div>

                        <div class="media-body">
                            <h3 class="heading">Financial Analysis Services</h3>
                            <p>We help start-ups and small mid-sized businesses in formulating business plans, forecasting sales and profits and preparing operational budgets. We also perform multiple types of financial and business analysis services to help managements gain insights and solutions into pressing business challenges.</p>
                            <a href="~/Home/FinancialAnalysisServices" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>*@

<section class="ftco-section">
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="flaticon-wealth"></i>
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Accounting Services</a></h3>
                        <p>We provides services across the entire range of accounting processes such as Procure-to-Pay (Accounts Payable), Order-to-Cash (Accounts Receivable), Record-to-Report (General Accounting), Inventory, Travel and Expense, and Fixed Asset</p>
                    </div>
                    <div class="read">
                        <a href="~/Home/AccountingServices" class="btn btn-default">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="flaticon-accountant"></i>
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Accounts Payable Outsourcing</a></h3>
                        <p>▪ Entry of invoices and payments</p>
                        <p>▪ 2 way/3 way matching of purchase orders with invoices and goods receipts/packing   slips</p>

                    </div>
                    <div class="read">
                        <a href="~/Home/AccountPayableOutsourcing" class="btn btn-default">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="flaticon-teamwork"></i>
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Accounts Receivable Outsourcing</a></h3>
                        <p>▪ Generation of sales invoices based on timesheet, sales orders, purchase orders and contracts</p>
                        <p>▪ Receipting/Cash application services</p>

                    </div>
                    <div class="read">
                        <a href="~/Home/AccountReceivableOutsourcing" class="btn btn-default">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="flaticon-accounting-1"></i>
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Financial Analysis Services</a></h3>
                        <p>We help start-ups and small mid-sized businesses in formulating business plans, forecasting sales and profits and preparing operational budgets. We also perform multiple types of financial</p>
                    </div>
                    <div class="read">
                        <a href="~/Home/FinancialAnalysisServices" class="btn btn-default">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6179238386aee40a57389872/1fj0j5el3';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
    <!--End of Tawk.to Script-->
</section>
