@{
    ViewBag.Title = "Readmore1";
}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Services</h2>
                <h3 clas s="heading">Account Payabale Outsourcing</h3>
            </div>
            <div class="row">
                <div class="col-md-12  d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="media-body">
                        <p class="text">
                            <div class="row">
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-4">
                                    <p>▪ Entry of invoices and payments</p>
                                    <p>▪ 2 way/3 way matching of purchase orders with invoices and goods receipts/packing   slips</p>
                                    <p>▪ Allocation of invoices against right job, property or department (for construction and real estate clients)</p>
                                    <p>▪ Processing of utility bills in the accounting software</p>
                                    <p>▪ Ageing of payables and tracking of payables</p>
                                    <p>▪ Weekly Check-run Processing (Only in Accounts Payable Manager Role)</p>
                                    <p>▪ Entry of Credit Card and Debit Card transactions</p>
                                    <p>▪ Travel and Entertainment (T&E) expense reimbursement processing</p>
                                    <p>▪ Accurate and timely vendor reconciliation</p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/images/accounts payable.jpg" alt="" class="img img-responsive" />
                                    <p>▪ Set-up of new vendors in vendor database</p>
                                    <p>▪ Tracking vendors and sub-contractor records for ensuring compliance to workers insurance and other statutory requirements</p>
                                    <p>▪ Vendor coordination and handling vendor queries (only in Accounts Payable Manager Role)"</p>
                                    <p>▪ Regular accounts payable reporting</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>



