
@{
    ViewBag.Title = "Readmore1";
}
<section class="ftco-section">
    <div class="container" >
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Services</h2>
                <h3 class="heading">Accounting Services </h3>
            </div>
            <div class="row">
                <div class="media-body">
                    <p class="text">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <p>
                                    We provides services across the entire range of accounting processes such as Procure-to-Pay (Accounts Payable), Order-to-Cash (Accounts Receivable), Record-to-Report (General Accounting), Inventory, Travel and Expense, and Fixed Asset Management.
                                    Additionally, our team of analysts also provide a wide range of financial analysis and financial projections services.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4">
                                    <p>▪ General accounting</p>
                                    <p>▪ Accounts payable</p>
                                    <p>▪ Accounts receivable</p>
                                    <p>▪ Reconciliations</p>
                                    <p>▪ Payroll processing</p>
                                    <p>▪ Inventory</p>
                                    <p>▪ Travel and expense management</p>
                                    <p>▪ Fixed asset maintenance.</p>
                                </div>
                                <div class="col-sm-5">

                                    <img src="~/Content/images/Accountser.gif" alt="" class="img img-responsive" />
                                </div>
                                <div class="col-sm-1"></div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </section>

